<!-- Start: Overlay Form -->
<div class="overlay-form bg-white d-flex">
    <!-- Start: Form Sidebar -->
    <div class="d-none d-md-flex bg-white p-5 flex-column justify-content-between h-100 flex-shrink-0">
        <div class="mb-3 d-flex align-items-center">
            <span class="fs-3 text-primary icon-command"></span>
            <h5 class="ps-3 m-0">Fill the Details</h5>
        </div>
        <button class="btn btn-info text-white px-5" (click)="onCancel()">
            Cancel
        </button>
    </div>
    <!-- End: Form Sidebar -->
    <!-- Start: Form -->
    
    <!-- Start: Form -->
</div>
<!-- End: Overlay Form -->