<div class="d-flex flex-column h-100">
    <div class="row m-0">
        <h4 class="col-6 m-0 p-0 d-flex align-items-center">Frontend</h4>
        <form class="col-6 p-0 d-flex justify-content-end">
            <div class="input-group">
                <span class="input-group-text icon-search" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Search Employee">
            </div>
        </form>
    </div>
    <div class="d-flex flex-column flex-grow-1 overflow-hidden mt-3">
        <div id="thead">
            <table class="table mb-0">
                <thead class="border-muted border-bottom text-lightgray fw-lighter text-truncate">
                    <tr>
                        <th>Sr. No.</th>
                        <th>employee Name</th>
                        <th>employee Name</th>
                        <th>employee Name</th>
                        <th>employee Name</th>
                        <th>employee Name</th>
                        <th>employee Name</th>
                        <th>employee Name</th>
                        <th>employee Name</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="tbody" class="d-flex flex-grow-1 overflow-auto">
            <div>
                <table class="table mb-0">
                    <tbody  class="p-3 overflow-hidden text-truncate">
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                            <td>Ankur</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>