.input-group{
    width: 50%;
}


.form-floating{
    .validation{
        display: none;
    }

    .form-control{
        &:focus{
            background: $white;
        }
    }
    
    &.invalid{
        .validation{
            display: block;
            font-size: $font-size-sm;
        }
    }
}