.table {
    table-layout: fixed;
    border-collapse: collapse;
    tr{
        th{
            color: $gray;
            background-color: $white;
            font-size: $font-size-sm;
        }
    }

    tr {
        th,
        td {
            width: 100px;
            text-overflow: ellipsis;
            background-color: $secondary;
        }
        .add-icon {
            width: 20px;
            padding: 0.5rem 0.5rem 0 0;
            color: $gray;
            cursor: pointer;
        }
        .status-badge{
            width: 40px;
            font-size: 0.75rem;
        }
    }
}

#thead::-webkit-scrollbar {
    height: 0;
}

@each $key, $value in $status {
    .status-#{$key}{
        background-color: lighten($value, 0.5%);
        color: $white;
    }
    .status-#{$key}{
        background-color: lighten($value, 0.5%);
    }
}