<header class="position-relative">
    <label class="icon-circle-down text-white toggle-icon bg-primary p-3 position-absolute" for="toggle-sidebar"></label>
    <div class="row ps-3 py-3 m-0 align-items-center">
        <!-- Start: Header Search -->
        <form class="col-11 col-sm-9 col-md-6 col-lg-6 ps-5 px-3">
            <div class="input-group">
                <span class="input-group-text icon-search" id="basic-addon1"></span>
                <input type="text" class="form-control bg-light" placeholder="Search">
            </div>
        </form>
        <!-- End: Header Search -->
        <!-- Start: Header Nav -->
        <ul class="d-none d-md-flex nav col-6 justify-content-end align-items-center">
            <li class="nav-item ms-2">
                <a class="nav-link header-nav-item active icon-bell text-primary p-2 bg-white rounded p-1 rounded"></a>
            </li>
            <li class="nav-item ms-2">
                <a class="nav-link header-nav-item active icon-flickr p-2 text-primary bg-white rounded"></a>
            </li>
            <li class="nav-item ms-2">
                <a class="nav-link bg-white header-nav-item rounded p-1 d-flex align-items-center">
                    <figure class="profile-image m-0">
                        <img src="../../../assets/images/avatar.png" alt="Profile Image"
                            class="img-fluid rounded-circle">
                    </figure>
                    <p class="text-primary px-1 m-0">Tywin Lannister</p>
                    <span class="icon-circle-down text-primary"></span>
                </a>
            </li>
            <li class="nav-item ms-2">
                <a class="nav-link header-nav-item active icon-envelop p-2 bg-white text-primary rounded"></a>
            </li>
        </ul>
        <!-- End: Header Nav -->
    </div>
</header>