<header class="row py-3 m-0 align-items-center">
    <!-- Start: Header Search -->
    <form class="col-6 px-3">
        <div class="input-group">
            <span class="input-group-text icon-search" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <!-- End: Header Search -->
    <!-- Start: Header Nav -->
    <ul class="nav col-6 justify-content-end align-items-center">
        <li class="nav-item ps-2">
            <a class="nav-link header-nav-item active icon-bell p-2 bg-light rounded p-1 bg-light rounded"></a>
        </li>
        <li class="nav-item ps-2">
            <a class="nav-link header-nav-item active icon-flickr p-2 bg-light rounded"></a>
        </li>
        <li class="nav-item ps-2">
            <a class="nav-link bg-light header-nav-item rounded p-1 d-flex align-items-center">
                <figure class="profile-image m-0">
                    <img src="../../../assets/images/avatar.png" alt="Profile Image" class="img-fluid rounded-circle">
                </figure>
                <p class="px-1 m-0">Taywin Lannister</p>
                <span class="icon-circle-down"></span>
            </a>
        </li>
        <li class="nav-item ps-2">
            <a class="nav-link header-nav-item active icon-envelop p-2 bg-light rounded"></a>
        </li>
    </ul>
    <!-- End: Header Nav -->
</header>