<div class="d-flex flex-column h-100 overflow-hidden">
    <h3 class="fs-2 fw-normal m-0">Staffing</h3>
    <!-- Start: Add new Button -->
    <div class="row">
        <div class="col-3 py-3">
            <button class="btn btn-primary text-center p-2" (click)="addNew()">
                <span class="icon-plus rounded text-primary bg-white mt-1 p-1"></span>
                <span class="ps-2 text-nowrap">Add New Staff</span>
            </button>
        </div>
    </div>
    <!-- End: Add new Button -->
    <!-- Start: Listing Table -->
    <div class="d-flex flex-column overflow-auto scroll-bar" id="scroll-style">
        <table class="table position-relative bg-secondary">
            <thead class="table-thead">
                <tr class="border-muted border-bottom text-lightgray fw-lighter">
                    <th>No</th>
                    <th>Thead Data</th>
                    <th>Thead Data</th>
                    <th>Thead Data</th>
                    <th>Thead Data</th>
                    <th>Thead Data</th>
                    <th>Thead Data</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                    <td>Tbody Data</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- End: Listing Table -->
</div>