.login-container{
    background-image: url('../../images/login-page-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay-form{
    height: 800px;
    width: 350px;
    @include media-breakpoint-up(sm){
        height: 800px;
        width: 550px;
    }
    @include media-breakpoint-up(md){
        height: 800px;
        width: 750px;
    }
    @include media-breakpoint-up(lg){
        height: 800px;
        width: 900px;
    }
    @include media-breakpoint-up(xl){
        height: 800px;
        width: 1200px;
    }
    @include media-breakpoint-up(xxl){
        height: 800px;
        width: 1400px;
    }
}
.step-previous-icon{
    transform: rotate(90deg);
}

.step-next-icon{
    transform: rotate(-90deg);
}

.staff-form{
    height: 800px;
    width: 1200px;
    .form-aside-icon{
        font-size: $font-size-xxl * 4;
        color: $primary;
    }
}
