.sidebar {
    width: 250px;
    transition: 0.4s all ease;

    @include media-breakpoint-down(md) {
        position: absolute;
        z-index: 10;
    }
}

#toggle-sidebar {
    display: none;
}

#toggle-sidebar:checked {
    ~.sidebar {
        width: 0;
        transition: 0.4s all ease;
    }
}

.toggle-icon {
    transform: rotate(-90deg);
    top: 10px;
    left: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 10;
    cursor: pointer;
}



.brand {
    .brand-icon {
        font-size: $font-size-xxl;
        color: $white;
    }

    .brand-title {
        font-size: $font-size-lg;
        color: $white;
    }
}

.nav {
    .nav-link {
        cursor: pointer;
        color: $white;

        &:hover {
            color: $primary;
        }
    }

    .nav-item {
        &-icon {
            font-size: $font-size-md;
            font-weight: $font-weight-bold;
        }

        &-text {
            font-size: $font-size-base;
            font-weight: $font-weight-bold;
        }

        &:hover {
            background-color: $white;
            transition: 0.4s all;
            color: $white;
        }
    }
}

.form-nav-icon {
    width: $form-nav-icon-width;
    height: $form-nav-icon-height;
    padding-top: 0.15rem;
}

.check-icon {
    width: $form-nav-check-icon-width;
    height: $form-nav-check-icon-height;
    padding-top: 0.5rem;
    background-color: $success;
    border: none;
    color: $white;
    transition: 0.4s all ease-in-out;
}

.form-nav {
    .form-nav-link {
        color: $dark;
    }

    .nav-item:hover {
        background-color: transparent;

        .nav-link:hover {
            color: $dark;
        }
    }
}